In [1]:
import pandas as pd
import networkx as nx

In [6]:
df = pd.read_csv('/Users/Jaron/Desktop/INST414 Files/draft_data.csv')

                 school_name  draft_picks  bonus_per_pick
376  Wright State University            3   781666.666667
377                   Xavier            3    91666.666667
378                 Xavier U            1   125000.000000
379                     Yale            2   247500.000000
380         Youngstown State            1     5000.000000

In [12]:
g = nx.from_pandas_edgelist(df, source = 'school_name', target = 'draft_picks', edge_attr = 'bonus_per_pick')

In [15]:
nx.write_graphml(g, '/Users/Jaron/Downloads/draft_data.graphml')

In [14]:
centrality_dict = nx.degree_centrality(g)
sorted_df = pd.DataFrame(sorted(centrality_dict.items(), key = lambda x: x[1], reverse = True), columns=['school_name', 'Degree Centrality'])
sorted_df[: 5]

  school_name  Degree Centrality
0           1           0.453865
1           2           0.137157
2           3           0.084788
3           4           0.054863
4           6           0.027431